@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');

* {
  font-family: 'Raleway';
  /* box-shadow: 0 0 0 3px red inset; */
}

/* Generals */
body {
  background-color: #333;
  color: #fff;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-decoration: none;
  color: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffab00;
  color: #333;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #ffea70;
}

button:focus,
button:focus-visible {
  outline: 4px auto #ffab00;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #000;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    color: #333;
  }
}

.horizontal-line {
  height: 15vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.line {
  border: 1px solid #ffab00;
  display: flex;
  justify-content: center;
  width: 70%;
}

/* fin generals */

/* Presentation du projet */

.main-title {
  font-size: 4em;
  line-height: 1.1;
  color: #ffab00;
  transition: color 0.3s;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2%;
}

.main-title:hover {
  color: #ffea70;
}

.container-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 5px rgb(132, 131, 131);
  padding: 20px;
}

.logo-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  filter: drop-shadow(0 0 5px #ffab00);
}

.text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  color: black;
}

.presentation {
  font-size: 1.3em;
  text-align: justify;
}

/* fin presentation projet */

/* team presentation */

.container-team {
  display: flex;
  flex-direction: column;
}

.team-title {
  font-size: 3.5em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  color: black;
  padding: 2%;
  gap: 30px
}

.team-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(132, 131, 131);
  border-radius: 0.8rem;
  box-sizing: border-box;
  padding: 2%;
}

.team-card:hover {
  background-color: #ffab00;
  scale: 1.05;
}

.team-card-hovered {
  background-color: #ffab00;
  scale: 1.05;
}

.member-image {
  max-height: 30vh;
}

.member-name {
  font-size: 1.5em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2%;
}

.member-role {
  font-size: 1em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2%;
}

.member-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 2% 5% 2%;
}

.member-linkedin {
  display: flex;
  border-top: 1px solid black;
  color: white;
}

.member-linkedin a {
  display: flex;
  color: white;
  align-items: center;
}

.member-linkedin a:hover {
  display: flex;
  color: black;
}

.linkedin {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* fin team presentation */

/* fonctionnalites */

.container-functionnalities {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
}

.functionnalities-title {
  font-size: 3.5em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2%;
}

.container-listfunctionnalities {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 5px rgb(132, 131, 131);
  padding: 2%;
  width: 100%;
  gap: 2%
}

.functionnalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2%;
  color: black;
  border: 2px solid black;
  border-radius: 0.8rem;
  box-shadow : 5px 5px 5px rgb(132, 131, 131);
  transition: scale 0.3s;
}

.functionnalities:hover {
  background-color: #ffab00;
  scale: 1.05;
}

.functionnalities-name {
  display: flex;
  font-size: 2em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  padding: 2% 0 2% 0;
}

.functionnality {
  display: flex;
  font-size: 1.3em;
  text-align: justify;
  height: calc(100%);
}

/* Fin functionnalities */

/* Video */

.video-title {
  font-size: 3.5em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3%;
}

.video {
  width: 100%;
  height: 100%;
}

/* fin video */

/* repository */

.container-repository {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.repository-title {
  font-size: 3.5em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3%;
}

.repository {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2%;
  color: black;
  border-radius: 0.8rem;
  transition: scale 0.3s;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 5px rgb(132, 131, 131);
}

.repository-name {
  display: flex;
  font-size: 2em;
  font-family: 'Fahkwang', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2%;
  color: black;
  text-decoration: underline;
}
/* fin repository */

@media screen and (max-width: 900px) {
  .container-presentation {
    flex-direction: column;
    padding: 15px;
  }

  #app {
    padding: 2%;
  }

  .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: black;
  }

  .main-title {
    font-size: 2.5em;
  }

  .presentation {
    padding-top: 5%;
    font-size: 1em;
  }

  .team-card {
    width: 100%;
  }

  .member-image {
    max-width: 80%;
    max-height: 80%;
  }

  .container-listfunctionnalities {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
  }

  .functionnalities {
    height: auto;
    width: auto;
  }

  .functionnalities-name {
    font-size: 1.5em;
  }
  
  .functionnality {
    font-size: 1em;
  }

  .team-title {
    font-size: 2em;
    padding-bottom: 3%;;
  }

  .repository-title {
    font-size: 2em;
    padding-bottom: 3%;;
  }

  .functionnalities-title {
    font-size: 2em;
    padding-bottom: 3%;;
  }

  .video-title {
    font-size: 2em;
    padding-bottom: 3%;
  }

  .horizontal-line {
    height: 8vh;
  }

  .repository {
    width: 90%;
  }

  .repository-name {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 2.5em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }

  .card {
    padding: 1em;
  }
}